.home-page {
    height: 90vh;
    overflow-y: scroll;    
}

.home-page-banner {
    width: 100%;
    height: 90vh;
    background-image: url('/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg');
    background-position: center;
    background-size: cover;    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.text-container {
    height: 65%;
    width: 65%;
    text-align: center;
    color: #fff;    
}

.title-name {
    margin-bottom: 5px;
    font-size: 32px;
}

.explore-banner {
    height: 90vh;    
    color: #fff;
    background-size: cover;
    background-position: center center;    
}

.banner-cover {
    height: 100%;
    width: 100%;
    background-color: rgba(14.12%, 14.51%, 16.86%, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;    
}

.m-banner {
    background-image: url('/movie-banner.jpg');    
}

.t-banner {
    background-image: url('/tv-banner.jpg');    
}

.explore-btn {
    border: 1px solid #16AB39;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.explore-btn:hover {
    background-color: #16AB39;
}