.main-container {
    height: 85%;
    position: relative;
    overflow-y: scroll;
}

.main-bg {
    height: 90%;    
    position: 'absolute';
    right : 0;
    bottom: 0;
    border-bottom: 1px solid rgba(18.24%, 18.43%, 19.61%, 1.00);
}

.fake-bg {
    height: 100%;
    /* background-image: linear-gradient(to right, rgba(14.12%, 14.51%, 16.86%, 1.00) 150px,
                         rgba(22.35%, 22.35%, 22.35%, 0.84) 100%); */
    /* background-size: cover;
    background-position: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 75%;
    max-height: 75%;
    display: flex;
    padding: 30px;
    background-color: rgba(14.12%, 14.51%, 16.86%, 0.7);
    justify-content: space-around;    
}

.image-card {
    max-width: 25%;    
    overflow: hidden;
}

.detail-image {        
    border-radius: 5px;
    height: 100%;    
}

.header-details {
    color: #fff;
    max-width: 70%;;
}

.title-container {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 3px solid rgba(22, 171, 57, 0.5);
}