.search-input :active{
    border-color: #16AB39;    
}

.search-input {
    text-align: center;    
}

.result-container {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.empty-state-container {
    height : 100%;
    display : flex;
    justify-content: center;
    align-items: center;
}

.search__bar {
    width: 100%;
    position: fixed;
    z-index: 9;
    top: 74px;
    background-color: #fff;    
}