.section--container {
    padding: 25px 40px;
}

.title--container {
    display: flex;
    justify-content: space-between;
}

.btn--container {
    flex-basis: 5%;
    display: flex;
    justify-content: space-between;
}

.row-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;  
    padding: 10px 0px;    
}

.row--item {
    flex-shrink : 0;
    width: 15%;    
}

.row--item:not(:first-of-type) {
    margin-left: 20px;
}

.row-container::-webkit-scrollbar {
    display: none;
}