.section--container {
    padding: 25px 40px;
    
    border-bottom: 1px solid #cdcdcd;
}

.title--container {
    display: flex;
    justify-content: space-between;
}

.btn--container {
    flex-basis: 5%;
    display: flex;
    justify-content: space-between;
}

.row-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;  
    padding: 10px 0px; 
    background-color: #fafafa; 
}

.row--item {
    flex-shrink : 0;
    width: 20%;    
    margin-left: 20px;    
}

.row-container::-webkit-scrollbar {
    display: none;
}