.__menu-header {
    width : 22%;
    color: green;
}

.menu-item :hover {
    color: #16AB39;
}

.app-header__container {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}