.app-body {
    flex-grow: 1;
    margin:0px;
    
}

.explore-content {
    overflow: auto;
    margin-top: 10px;
    position: relative;
    overflow-x: hidden;
    padding: 10px;    
}

.discover-display {
    z-index: 1;
}

.filter-btn {
    position: fixed;
    bottom: 50px;
    right: 100px;
    z-index: 1000;        
}